<tr>
  <td>Round <%= wager.round_id %></td>
  <td><%= link_to(wager.player.name, edit_player_path(wager.player)) %></td>
  <td><%= wager.amount %> on <%= wager.color_guessed %></td>
  <td><%= wager.round.result %></td>
  <td><%= outcome_for(wager) %></td>
  <td><%= time_ago_in_words(wager.created_at) %></td>
</tr>
