<!DOCTYPE html>
<html>
<head>
  <title>RouletteApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to("Home", root_path) %> | <%= link_to("Wager History", wagers_path) %> | <%= link_to("Players", players_path) %>
  </nav>

<% if flash.any? %>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
